<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body style="background-color: #f0f1f2;">
<table>
    <tr>
        <h1>Add Funds to Account</h1>


        <script async
                src="https://js.stripe.com/v3/buy-button.js">
        </script>

        <stripe-buy-button
                buy-button-id="buy_btn_1P5XXXLnssI0iBqMGkF4eLAL"
                publishable-key="pk_test_51Oz9N1LnssI0iBqM8wMxUZqHGjVCN3f9REcMkYnGcC7HLAYUw8leSCHURyRoZtW0R9avL1LBLAlCNdnOpWmyADib00odKGNTxP"
        >
        </stripe-buy-button>

    </tr>
</table>

</body>
</html>