<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Update Account Balance</title>
    <meta name="description" content="Update your account balance" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="checkout.js" defer></script>
</head>
<body>
<!-- Display a payment form -->
<div id="checkout">
    <!-- Checkout will insert the payment form here -->
</div>
</body>
</html>